body {
    margin: 0;
    padding: 0;
    color: #79bae5;

    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-image: url("../atelie-alien-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
}
/* 
    .olivita-regular {
        font-family: "olivita", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    .olivita-italic {
        font-family: "olivita", sans-serif;
        font-weight: 400;
        font-style: italic;
    }

    .poppins-thin {
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-style: normal;
    }

    .poppins-extralight {
        font-family: "Poppins", sans-serif;
        font-weight: 200;
        font-style: normal;
    }

    .poppins-light {
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
    }

    .poppins-regular {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    .poppins-medium {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
    }

    .poppins-semibold {
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: normal;
    }

    .poppins-bold {
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;
    }

    .poppins-extrabold {
        font-family: "Poppins", sans-serif;
        font-weight: 800;
        font-style: normal;
    }

    .poppins-black {
        font-family: "Poppins", sans-serif;
        font-weight: 900;
        font-style: normal;
    }

    .poppins-thin-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-style: italic;
    }

    .poppins-extralight-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 200;
        font-style: italic;
    }

    .poppins-light-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: italic;
    }

    .poppins-regular-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: italic;
    }

    .poppins-medium-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: italic;
    }

    .poppins-semibold-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: italic;
    }

    .poppins-bold-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: italic;
    }

    .poppins-extrabold-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 800;
        font-style: italic;
    }

    .poppins-black-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 900;
        font-style: italic;
    } */

    .navbar {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: rgb(255, 255, 255);
        padding: 20px 40px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    /* Logo */
    .logo {
        font-family: 'Georgia', serif;
        font-size: 18px;
        letter-spacing: 1px;
    }

    /* Links */
    .nav-links {
        list-style: none;
        display: flex;
        gap: 30px;
    }

    .nav-buttons {
        border-color: #14598a ;
        background-color: #14598a;
    }

    .nav-links a {
        text-decoration: none;
        color: black;
        font-size: 14px;
        letter-spacing: 1px;
    }

    /* Espaço extra para compensar a barra fixa */
    .content {
        padding-top: 100px;
    }

    /* imagem para fundo da barra de navegação */
    header {
        background-image: url("");
    }

    .carousel img {
        max-height: 80vh;
        object-fit: cover;


    }

    footer {
        background-color: #14598a;
        text-align: center;
        padding: 20px;
        font-size: 0.9em;
    }

    #acessoProdutos {
        display: flex;
        width: 100vw;
        justify-content: center;
        align-items: center;
        padding: 50px;
    }

    #imgProdutos {
    
    }