body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Olivita' sans-serif;
    background: linear-gradient(to right,#14598a, #79b9e5, #57459b,
    #ebb8d5, #0e7e78, #f89b4f);
    text-align: center;
}
  .container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .img-cont {
    display: flex;
    gap: 20px; /* espaçamento entre as imagens */
    flex-wrap: wrap; /* permite quebrar linha em telas pequenas */
    justify-content: center;
  }

  .img-on {
    flex: 1 1 auto;
    max-width: 200px; /* ou ajuste conforme necessário */
  }

  .thanks-img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 10px 8px#ebb8d5;
  }

  .text-center {
    text-align: center;
  }

  .text-success {
    color: #ffffff;
  }

  .back-shop {
    display: block;
    text-align: center;
    margin-top: 30px;
  }

  .back-shop button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #f89b4f;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }

  .back-shop button:hover {
    background-color: #e07a30;
  }
