  body {
    background-image: url("./assets/BG_Ateliê_Alien.jpg");
    background-repeat:no-repeat;
    background-size: 100vw;
    color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 2rem;
    min-height: 100vh;
    max-width: 100vw;
    box-sizing: border-box;
  }


    
.navbar {
  height: 70px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: url("../about/assets/BG_Ateliê_Alien.jpg");
  box-shadow: 0 7px 10px #ebb8d5;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;

}


/* criei um container para englobar o lobo e os
nav links para que eu conseguisse arrumar o espaçamento
dos botoes na barra de navegação */
.container {
  width: 100%;
  padding-top: 40px;
  max-width: 1700px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: 700px) {
      flex-direction: row;
  }
}

/* modificacoes na div que engloba as partes do logo*/
.modif-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

/ modificacoes na imagem do logo /
.logo-img {
  height: 100px;
  width: auto;
}


/ modificaçoes no texto do logo /
.logo-text {
  font-family: "Olivita", sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  color: ;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

/ nav links a ,  para se referir a todos os elementos (links) que estao dentro do navlink */

.nav-links a {
  text-decoration: none;
  color: #ebb8d5;
  font-size: 14px;
  letter-spacing: 1px;
}


header {
    width: 100%;
    height: 100%;
    padding-top: 100px;
    align-items: center;
}
#about {
  padding-top:  140px;
  /* justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px; */
}
.content-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.text-coluna {
  width: 50%;
  } 
#profile {
  margin-bottom: 40px;
}
.about-image {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-image img {
  max-width: 100%;
  height: auto;
}
  

/* NAVBAR CONTAINER */
.navbar {
  background-color: url("../about/assets/BG_Ateliê_Alien.jpg");
  padding: 20px 0;
}
